@font-face {
  font-family: myFirstFont;
  src: url("./assets/PinkChicken-Regular.ttf");
}

body {
  height: 100vh;
  font-family: myFirstFont;
  color: #393d18;
  text-align: center;
  overflow: hidden;
}

.Home, .Farm, .Castle_1, .Castle_2, .Castle_3, .Castle_35, .Castle_4, .Castle_45, .Castle_5, .Castle_55 {
  background-image: url("./assets/bg_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  width: auto;
  height: 100vh;
  z-index: -39;
}


.treasure, .goose {
  /* background-color: rgb(.5,.5,.5,.5); */
  overflow: hidden;
  position: absolute;
  left: 35%;
  width: 12%;
  height: 30%;
  bottom: 30%;
}
.goose {
  left: 55%;
}
.treasure:hover, .goose:hover, .FarmLastPlant:hover {
  cursor: pointer;
}

.fullScreen {
  /* background-color: rgb(.5,.5,.5,.5); */
  width:100%;
  height: 100%;
}
.fullScreen:hover {
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  color: #393d18;
  text-decoration: none;
}

.logoDiv {
  position: absolute;
  top: 2%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
}

.logo {
  width: 40%;
}

.actionFrame {
  /* Bg image dimensions: 900px * 630px */
  position : fixed;
  background-image: url("./assets/action_frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  margin: auto;
  padding: 0;
  font-size: 5vh;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
  
  top : 15%;
  left : 25%;
  width: 50%;
  height: 70%;
}

.actionFrameScroll {
  padding: 0;
  overflow-y: scroll;
  /* background-color: rgb(0.5,0.5,0.5,0.5); */
  margin-left: 5vh;
  margin-top: 3vh;
  width: 90%;
  height: 90%;
  scrollbar-width: thin;
}
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.pieDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pie {
  max-width: 45vh;
  margin-top: 2vh;
}

.gooseImg {
  max-width: 25vh;
  margin-top: 4vh;
}

.gooseDiv {
  text-align: center;
}
.gooseDescription {
  /* text-align: left; */
  margin-top: 2vh;
  margin-bottom: 0vh;
}
.gooseDescriptionFeedButton {
  text-align: center;
  margin-bottom: 4vh;
}

.gooseDescriptionFeedButtonSmall {
  margin-top: 3vh;
  font-size: 1.5rem;
}

.actionButton, .actionButtonNest, .shortButton, .longButton, .mobileMenuButton, .longMobileButton {
  /* Button image dimensions: 309px * 155px */
  background-image: url("./assets/button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  width: 12rem;
  height: 6rem;

  margin: auto;
  margin-bottom: 2vh;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  z-index: 1;
}

.actionTitle {
  text-align: center;
  margin-top: 4vh;
}

.actionDescription {
  text-align: center;
}
.actionDescriptionLeft {
  text-align: left;
  margin-top: 3vh;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.actionButton:hover, .shortButton:hover, .actionButtonNest:hover {
  cursor: pointer;
}

.mobileMenuButton {
  background-image: none;
  height: 3rem;
  font-size: 2rem;
}

.leftArrowImage {
  height: 30%;
}

.clickAnywhereToContinueDiv {
  position: absolute;
  top: 2%;
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickAnywhereToContinue {
  color: white;
  font-size: 1.5rem;
}

.clickAnywhereToContinueButtonClass {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  
  display: flex;
  align-items: flex-end;
}

.textFrame, .ticketsFrame, .mintFrame {
  font-size: 2rem;
  text-align: left;
  line-height: 2rem;
  padding-left: 10vh;
  padding-right: 10vh;
}

.mintFrame {
  text-align: center;
}
.ticketsFrame {
  color: #5fa459;
  text-align: center; 
}

.psFrame {
  font-size: 1.5rem;
}

.quantitySelector {
  color: #223c29;
}

.buttonQuantity {
  font-size: 3rem;
  cursor: pointer;
}

.quantity {
  font-size: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}



.socialLink {
  margin-bottom: 4vh;
}

.gooseNestSelectDays {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2vh;
}

.gooseNestSelectDaysElement {
  min-width: 2.5rem;
}

.durationselect {
  background-color: #eddf3e;
  border-radius: 2px;
  border-color: #080807;
}

.durationunselect {
  background-color: transparent;
}


.durationselect:hover, .durationunselect:hover {
  cursor: pointer;
}
.gooseNestSelectDaysSeparator:hover {
  cursor: default;
}




@media only screen and (max-width: 1199.98px){
  
.gooseNestSelectDays {
  margin-bottom: 1vh;
}

.actionButtonNest {
  width: 8rem;
  height: 4rem;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.gooseImg {
  max-width: 15vh;
  margin-top: 2vh;
}
.gooseDescriptionFeedButton {
}
.gooseDescription {
  margin-top: 0vh;
  line-height: 1.2rem;
  margin-top: 1vh;
}

.gooseDescriptionFeedButtonSmall {
  margin-top: 1vh;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.actionTitle {
  margin-left: 0;
  padding-left: 0;
  font-size: 1.8rem;
}

.actionDescription {
  /* font-size: 2rem; */
  padding-right: 2rem;
}
.actionDescriptionBig {
  font-size: 2rem;
  padding-left: 2rem;
}
.treasure, .goose {
  left: 0%;
  width: 48%;
}
.goose {
  left: 55%;
}


  .actionFrame {
    background-image: url("./assets/mobile/mobile_menu.png");
    top : 10%;
    left : 0%;
    width: 100%;
    height: 80%;
    padding-top: 8vh;
  }
  .logo {
    width: 95%;
  }
  .logoDiv {
    top: 10%;
  }
  

  .Home, .Farm {
    background-image: url("./assets/mobile/home_mobile.jpg");
    background-position: 0 0;
  }

  

  .navbarMobileDiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1vh;
    z-index: 50;
  }
  .menuMobileCol {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0;
    padding: 0;
    z-index: 50;
  }
  .homeMobileCol {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    z-index: 50;
  }

  .menuMobileImage {
    width: 30%;
    margin: 0;
    padding: 0;
  }
  .homeMobileImage {
    width: 25%;
    z-index: 50;
    margin: 0;
    padding: 0;
  }
  

  .plant_0, .plant_1, .plant_2, .plant_3, .plant_4 {
    width: 70%;
  }

  .plant_5 {
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    /* width: 100%; */
    margin: auto;
    padding: 1vh;
    width: 350%;
  }
  

  .textFrame {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
    padding-left: 1vh;
    padding-right: 1vh;
  }

  .psFrame {
    font-size: 1.3rem;
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .mintFrame, .ticketsFrame {
    text-align: center;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 1.8rem;
  }

}


::-webkit-scrollbar {
  display: none;
}

.addressButton {
  margin: auto;
  width: 25rem;
  background-color: #ff8c44;
  border-radius: 0.5rem;
  border-color:#ff8c44;
}

.addressButton:hover, .addressButton:active, .addressButton:focus {
  background-color: #ff8c44;
  border-color:#ff8c44;
}